html, body {
    margin: 0px;
    height:100%;
    background-color: rgb(244,244,244);
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
}

a {
    color: black;
}

input, select {
    font-size: 14px;
    background-color: rgb(244,244,244);
}

#frame {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#frame-inner {
    flex: 700px;
    width: 700px;
    justify-content: stretch;
}

#map {
    height: 70vh;
    border: #E0E0E0;
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#emptybox {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: rgb(244,244,244);
    margin-bottom: 0.5em;
    padding: 10px;
    text-align: center;
    color: darkred;
    border-radius: 5px;
    border-width: 1px;
    border-color: darkred;
    border-style: solid;
}

#controls {
    margin: 20px;
    justify-content: stretch;
}

#controls-inner {
    top: 20px;
    position: sticky;
}

#charts {
    margin: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#charts-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#region-selector {
    width: 300px;
}

#size-selector-legend {
    display: inline;
    vertical-align: top;
}

#size-selector-radio {
    display: inline-block;
}

#charts-timeline {
    width: 100%;
    height: 40vh;
}

#dsize-depth {
    text-align: right;
}

#charts-size, #charts-height {
    flex: 40vh;
    min-height: 30vh;
}

#charts-exposition {
    flex: 50vh;
    height: 40vh;
}

.charts-chart {
    margin-top: 40px;
}

.bottom-margin {
    margin-bottom: 20px;
}

.bold, th {
    font-weight: 700;
    text-align: left;
}

#statistics table tbody tr td:nth-child(2) {
    text-align: right;
}

.ol-zoom {
    top: unset;
    left: unset;
    bottom: 2.5em;
    right: .5em;
}

.ol-control button {
    background-color: #9BB9C2;
}

.ol-control button:hover {
    background-color: #6996A3;
}

.highcharts-legend-item .highcharts-point {
    stroke-width: 1px;
    stroke: rgba(220,245,231,0.65);
}

.highcharts-legend-item.highcharts-series-0 .highcharts-point,
.highcharts-legend-item.highcharts-series-1 .highcharts-point,
.highcharts-legend-item.highcharts-series-2 .highcharts-point {
    stroke-width: 1px;
    stroke: rgba(141,0,31,0.65);
}